{
  "extends": ["ts-react-important-stuff", "plugin:prettier/recommended"],
  "parser": "babel-eslint",
  "rules": {
    "no-empty-pattern": "off",
    "react-hooks/exhaustive-deps": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "no-console": "off",
    "strict": "warn"
  }
}
